@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0; }

.header {
  background-color: #E5989B;
  height: 90px;
  width: 100%; }
  .header .navbarFondo {
    background-color: #E5989B; }
    .header .navbarFondo .navbarDario li {
      padding: 16px; }
      .header .navbarFondo .navbarDario li a {
        color: white;
        font-family: "Prompt", sans-serif;
        font-weight: normal;
        font-size: 120%;
        transition: all 1s; }
        .header .navbarFondo .navbarDario li a:hover {
          color: black;
          font-weight: bold !important;
          font-size: 125% !important; }
    .header .navbarFondo .logo {
      color: #491426;
      font-family: "Pacifico", cursive;
      font-size: 250%;
      margin-left: 60px;
      margin-right: 60px;
      transition: all 0.5s; }
      .header .navbarFondo .logo:hover {
        font-weight: bold !important;
        font-size: 260% !important; }

.bodyIndex {
  background-image: linear-gradient(90deg, #ff9a82 0%, #ffd2b9 50%, #ff9a82 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; }
  .bodyIndex .mainIndex {
    margin-top: 120px;
    margin-bottom: 120px;
    max-width: 900px;
    font-family: "Prompt", sans-serif;
    text-align: justify;
    margin-left: auto;
    margin-right: auto; }
    .bodyIndex .mainIndex .tituloIndex {
      text-align: center; }
      .bodyIndex .mainIndex .tituloIndex h1 {
        text-decoration: underline;
        font-weight: bold;
        margin-bottom: 40px; }
      .bodyIndex .mainIndex .tituloIndex h2 {
        font-weight: bold;
        text-decoration: none;
        margin-bottom: 40px; }
      .bodyIndex .mainIndex .tituloIndex h3 {
        text-decoration: underline;
        margin-bottom: 40px; }
    .bodyIndex .mainIndex .contenedorCarrousel {
      max-width: 900px;
      max-height: 600px; }
      .bodyIndex .mainIndex .contenedorCarrousel .carousel {
        align-items: center;
        margin-top: 60px;
        margin-bottom: 120px;
        border: solid 1px black; }
        .bodyIndex .mainIndex .contenedorCarrousel .carousel:hover {
          border: solid 2px white; }
      @media (max-width: 950px) {
        .bodyIndex .mainIndex .contenedorCarrousel {
          max-width: 600px;
          margin: auto; } }
      @media (max-width: 600px) {
        .bodyIndex .mainIndex .contenedorCarrousel {
          max-width: 450px; } }
    .bodyIndex .mainIndex .seccionIndex01 {
      margin-bottom: 120px;
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      .bodyIndex .mainIndex .seccionIndex01 .textoIndex {
        max-width: 450px;
        padding-right: 20px; }
      .bodyIndex .mainIndex .seccionIndex01 .imagenIndex img {
        max-width: 450px;
        border: solid 1px black; }
        .bodyIndex .mainIndex .seccionIndex01 .imagenIndex img:hover {
          border: solid 1px white; }
    .bodyIndex .mainIndex .seccionIndex02 {
      display: flex;
      flex-direction: column;
      margin-bottom: 120px; }
      .bodyIndex .mainIndex .seccionIndex02 .seccionIndex02Texto p {
        margin-bottom: 40px; }
      @media (max-width: 950px) {
        .bodyIndex .mainIndex .seccionIndex02 .seccionIndex02Video {
          visibility: hidden; } }
    .bodyIndex .mainIndex .tablaSeccion {
      display: flex;
      flex-direction: column; }
      .bodyIndex .mainIndex .tablaSeccion h3 {
        margin-bottom: 30px; }
      .bodyIndex .mainIndex .tablaSeccion table {
        border: solid black 2px; }
        .bodyIndex .mainIndex .tablaSeccion table tr td {
          border: solid black 1px;
          text-align: center; }
        .bodyIndex .mainIndex .tablaSeccion table tr .th {
          border: solid black 2px;
          text-align: center; }

.bodyServicios {
  background-image: linear-gradient(90deg, #ff9a82 0%, #ffd2b9 50%, #ff9a82 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; }
  .bodyServicios .mainServicios {
    margin-top: 120px;
    margin-bottom: 120px;
    max-width: 900px;
    font-family: "Prompt", sans-serif;
    text-align: justify;
    margin-left: auto;
    margin-right: auto; }
    .bodyServicios .mainServicios section {
      text-align: justify;
      margin-bottom: 120px; }

.bodyContacto {
  background-image: linear-gradient(90deg, #ff9a82 0%, #ffd2b9 50%, #ff9a82 100%); }
  .bodyContacto .mainContacto {
    margin-top: 120px;
    margin-bottom: 120px;
    max-width: 900px;
    font-family: "Prompt", sans-serif;
    text-align: justify;
    margin-left: auto;
    margin-right: auto; }

.bodyGaleria {
  background-image: linear-gradient(90deg, #ff9a82 0%, #ffd2b9 50%, #ff9a82 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; }
  .bodyGaleria .mainGaleria {
    margin-top: 120px;
    margin-bottom: 120px;
    max-width: 900px;
    font-family: "Prompt", sans-serif;
    text-align: justify;
    margin-left: auto;
    margin-right: auto; }
    .bodyGaleria .mainGaleria .tituloGaleria {
      text-align: center;
      margin-bottom: 60px; }
    .bodyGaleria .mainGaleria .galeriaInstalaciones {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 60px; }
      .bodyGaleria .mainGaleria .galeriaInstalaciones div img {
        max-width: 280px;
        margin: 10px;
        border: solid 1px black;
        transition: transform 1s; }
        .bodyGaleria .mainGaleria .galeriaInstalaciones div img:hover {
          transform: scale(1.5);
          border: solid 3px white; }
    .bodyGaleria .mainGaleria .galeriaEdificio {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around; }
      .bodyGaleria .mainGaleria .galeriaEdificio div img {
        max-width: 280px;
        margin: 10px;
        border: solid 1px black;
        transition: transform 1s; }
        .bodyGaleria .mainGaleria .galeriaEdificio div img:hover {
          transform: scale(1.5);
          border: solid 3px white; }

.bodyNosotros {
  background-image: linear-gradient(90deg, #ff9a82 0%, #ffd2b9 50%, #ff9a82 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; }
  .bodyNosotros .mainNosotros {
    margin-top: 120px;
    margin-bottom: 120px;
    max-width: 900px;
    font-family: "Prompt", sans-serif;
    text-align: justify;
    margin-left: auto;
    margin-right: auto; }

.footer {
  background-color: #E5989B;
  height: 90px;
  margin-top: auto;
  width: 100%; }
  .footer ol {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    height: 100%;
    align-items: center; }
    .footer ol li {
      list-style: none;
      padding: 16px; }
      .footer ol li a {
        text-decoration: none;
        color: white;
        font-family: "Prompt", sans-serif;
        font-weight: normal;
        font-size: 120%;
        transition: all 1s; }
        .footer ol li a:hover {
          color: black;
          font-weight: bold !important;
          font-size: 125% !important; }
