@mixin initMain{
    margin-top: $gapSeccion;
    margin-bottom: $gapSeccion;
    max-width: $anchoMain;
    font-family: $prompt;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

@mixin cardOpacidad{
    padding: 20px;
    border-radius: 20px;
    max-width: $anchoMain;
    background-color: rgba(255,255,255,0.15);
    &:hover{
        background-color: rgba(255,255,255,0.30);
    }
}