.bodyServicios{
    background-image: linear-gradient(90deg, $colorGrad1 0%, $fondo 50%, $colorGrad1 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    .mainServicios{
        @include initMain;
        margin-left: 20px;
        margin-right: 20px;
        section{
            text-align: justify;
            margin-bottom: $gapSeccion;
            @include cardOpacidad;
            article{
                img{
                    padding: 15px;
                    display: block;
                    max-width: 600px;
                    margin: 0 auto;
                    @media(max-width: 680px){
                        max-width: 400px;
                    }
                    @media(max-width: 500px){
                        max-width: 300px;
                    }
                    &:hover{
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}