.bodyIndex{
    background-image: linear-gradient(90deg, $colorGrad1 0%, $fondo 50%, $colorGrad1 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    .mainIndex{
        margin-top: $gapSeccion;
        margin-bottom: $gapSeccion;
        max-width: $anchoMain;
        font-family: $prompt;
        text-align: justify;
        .seccionIndex01{
            margin-bottom: $gapSeccion;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .textoIndex{
                max-width: $anchoMain/2;
                padding-right: 20px;
                // text-align: justify;
            }
            .imagenIndex{
                img{
                    max-width: $anchoMain/2;
                }
            }
        }
        .seccionIndex02{
            display: flex;
            flex-direction: column;
            margin-bottom: $gapSeccion;
            .seccionIndex02Texto p{
                // text-align: justify;
                margin-bottom: $gapSeccion/3;
            }

        }
        .tablaSeccion{
            display: flex;
            flex-direction: column;
            h3{
                margin-bottom: $gapSeccion/4;
            }
            table{
                border: solid black 2px;
                tr{
                    td{
                        border: solid black 1px;
                        text-align: center;
                    }
                    .th{
                        border: solid black 2px;
                        text-align: center;
                    }
                }
            }
        }
    }
}