.bodyIndex{
    background-image: linear-gradient(90deg, $colorGrad1 0%, $fondo 50%, $colorGrad1 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    .mainIndex{
        @include initMain;
        .tituloIndex{
            text-align: center;
            h1{
                text-decoration: underline;
                font-weight: bold;
                margin-bottom: $gapSeccion/3;
            }
            h2{
                font-weight: bold;
                text-decoration: none;
                margin-bottom: $gapSeccion/3;
            }
            h3{
                text-decoration: underline;
                margin-bottom: $gapSeccion/3;
            }
        }
        .contenedorCarrousel{
            max-width: $anchoMain;
            max-height: $altoCarrousel;
            .carousel{
                align-items: center;
                margin-top: $gapSeccion/2;
                margin-bottom: $gapSeccion;
                border: solid 1px black;
                &:hover{
                    border: solid 2px white;
                }
            }
            @media(max-width: 950px){
                max-width: 600px;
                margin: auto;
            }
            @media(max-width: 600px){
                max-width: 450px;
            }
        }
        .seccionIndex01{
            margin-bottom: $gapSeccion;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .textoIndex{
                max-width: $anchoMain/2;
                padding-right: 20px;
                // text-align: justify;
            }
            .imagenIndex{
                img{
                    max-width: $anchoMain/2;
                    border: solid 1px black;
                    &:hover{
                        border: solid 1px white;
                    }
                }
            }
        }
        .seccionIndex02{
            display: flex;
            flex-direction: column;
            margin-bottom: $gapSeccion;
            .seccionIndex02Texto p{
                // text-align: justify;
                margin-bottom: $gapSeccion/3;
            }
            .seccionIndex02Video{
                @media(max-width: 950px){
                    visibility: hidden;
                }
            }

        }
        .tablaSeccion{
            display: flex;
            flex-direction: column;
            h3{
                margin-bottom: $gapSeccion/4;
            }
            table{
                border: solid black 2px;
                tr{
                    td{
                        border: solid black 1px;
                        text-align: center;
                    }
                    .th{
                        border: solid black 2px;
                        text-align: center;
                    }
                }
            }
        }
    }
}