.bodyGaleria{
    background-image: linear-gradient(90deg, $colorGrad1 0%, $fondo 50%, $colorGrad1 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    .mainGaleria{
        @include initMain;
        .tituloGaleria{
            text-align: center;
            margin-bottom: $gapSeccion/2;
        }
        .divOpacidad{
            // padding: 20px;
            // border-radius: 20px;
            // max-width: $anchoMain;
            // background-color: rgba(255,255,255,0.15);
            @include cardOpacidad;
            margin-bottom: $gapSeccion/2;
            .galeriaInstalaciones{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                div{
                    img{
                        max-width: 240px;
                        margin: 0 auto;
                        border: solid 1px black;
                        transition: transform 1s;
                        margin-top: 15px;
                        margin-bottom: 20px;
                        &:hover{
                            transform: scale(1.5);
                            border: solid 3px white;
                        }
                    }
                }
            }
            .galeriaEdificio{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                div{
                    img{
                        max-width: 240px;
                        margin: 0 auto;
                        border: solid 1px black;
                        transition: transform 1s;
                        margin-top: 15px;
                        margin-bottom: 20px;
                        &:hover{
                            transform: scale(1.5);
                            border: solid 3px white;
                        }
                    }
                }
            }
        }
    }
}