.header{
    background-color: $color2;
    height: $altoHyF;
    width: 100%;
    .navbarFondo{
        background-color: $color2;
        .navbarDario{
            li{
                padding: $paddNavLi;
                a{
                    color: $colorNav;
                    font-family: $prompt;
                    font-weight: normal;
                    font-size: 120%;
                    transition: all 1s;
                    &:hover{
                        color: black;
                        font-weight: bold !important;
                        font-size: 125% !important;
                    }
                }
            }
        }
        .logo{
            color: $colorLogo;
            font-family: $pacifico;
            font-size: 250%;
            margin-left: $marginLogo;
            margin-right: $marginLogo;
            transition: all 0.5s;
            &:hover{
                font-weight: bold !important;
                font-size: 260% !important;
            }
        }       
    }
}